.App {
    width: 500px;
    min-height: 80vh;
    margin: 0 auto;
    color: white;
}
@media (max-width: 412px) {
    .App {
        box-sizing: border-box;
        width: 100%;
        padding: 0 10px;
        min-height: 160vh;
    }
}
.App h1 {
    padding: 64px 0;
    font-size: 28px;
    text-align: center;
}

