.container {
    width: 94%;
    margin: 0 auto;
}

.result {
    border: 1px solid transparent;
    border-radius: 8px;
    margin-top: 35px;
    padding: 8px;
    background-color: rgba(0, 0, 0, .5);
}

.weatherIcon {
    display: none;
}

.placeAndTime {
    display: flex;
    justify-content: space-between;   
    align-items: center;
    padding-bottom: 8px;
}

.placeAndTime h2 {
    font-size: 20px;
}

.sunriseAndSunset {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding-bottom: 8px;
}

.mainInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 3vh;
}

.mainInfo .temp h2 {
    font-size: 95px;
}

.mainInfo .temp sup {
    font-size: 60px;
}

.mainInfo .temp h4 {
    margin-top: 8px;
}

.mainInfo .temp .description {
    line-height: 120%;
}

.windAndPressure {
    margin-top: 18px;
    border-top: 1px solid white;
}

.windAndPressure h4 {
    margin-top: 8px;
}

@media (min-width: 360px) {
    .container {
        width: 80%;
    }

    .result {
        margin-top: 50px;
    }
}

@media (min-width: 533px) and (orientation: landscape) {
    .result {
        margin-top: 60px;
    }
}

@media (min-width: 568px) {

    .container {
        width: 500px;
    }

    .result {
        padding: 16px;
    }

    .mainInfo {
        flex-direction: row;
        justify-content: space-around;
        margin: 5vh 0;
    }

    .mainInfo .temp {
        width: 50%;
    }

    .mainInfo .additionalInfo {
        width: 50%;
        border-left: 1px solid white;
        padding-bottom: 16px;
    }

    .weatherIcon {
        display: block;
    }
  
    .windAndPressure {
        margin-top: 18px;
        border-top: none;
    }
    
}

@media (min-width: 768px) {
    .result {
        margin-top: 70px;
    }

    .placeAndTime h2 {
        font-size: 24px;
    }

    .placeAndTime h4 {
        font-size: 20px;
    }

    .sunriseAndSunset {
        font-size: 16px;
    }

    .windAndPressure h4 {
        font-size: 20px;
        margin-top: 12px;
    }

    .mainInfo {
        margin: 4vh 0;
    }

    .mainInfo .temp h2 {
        font-size: 110px;
    }

    .mainInfo .temp h4 {
        font-size: 20px;
        margin-top: 12px;
    }
}

/* .container {
    width: 500px;
    margin: 0 auto;
}

.result {
    width: 500px;
    min-height: 45vh;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-top: 64px;
    background-color: rgba(0, 0, 0, .5);
    padding:  20px;
}


.placeAndTime {
    display: flex;
    justify-content: space-between;
    
}

.mainInfo {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
}

.temp, .additionalInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    padding: 20px;
    flex-basis: 50%;
}

.temp h2 {
    font-size: 100px;
    font-weight: normal;
}

.temp h2 sup {
    font-size: 55px;
}

.temp h3 {
    margin-top: 20px;
}

.additionalInfo {
    align-items: center;
    border-left: 1px solid white;
}

.additionalInfo img {
    width: 100px;
}

.additionalInfo h4 {
    margin-top: 10px;
}

@media (max-width: 412px) {
    .result {
        width: 100%;
        padding: 0 10px;
    }

    .placeAndTime {
        flex-wrap: wrap;
        line-height: 150%;
        justify-content: space-around;
        padding: 8px;
    }

    .place,
    .date,
    .time {
        width: 30%;
        text-align: center;
    }
} */
